<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.restapi.dao.DeviceWaterMapper">
  <resultMap id="BaseResultMap" type="com.company.restapi.model.DeviceWater">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="use_water" jdbcType="VARCHAR" property="useWater" />
    <result column="jie_water" jdbcType="VARCHAR" property="jieWater" />
    <result column="bath_time" jdbcType="VARCHAR" property="bathTime" />
    <result column="set_temperature" jdbcType="VARCHAR" property="setTemperature" />
    <result column="flow_grade" jdbcType="VARCHAR" property="flowGrade" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>