<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.restapi.dao.InformationDatatypeMapper">
  <resultMap id="BaseResultMap" type="com.company.restapi.model.InformationDatatype">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="information_type" jdbcType="INTEGER" property="informationType" />
    <result column="information_name" jdbcType="VARCHAR" property="informationName" />
  </resultMap>
</mapper>