<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.restapi.dao.IntelAccountMapper">
  <resultMap id="BaseResultMap" type="com.company.restapi.model.IntelAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PHONE_NO" jdbcType="VARCHAR" property="phoneNo" />
    <result column="ENABLE" jdbcType="INTEGER" property="enable" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="CREATE_DATETIME" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="UPDATE_BY" jdbcType="BIGINT" property="updateBy" />
    <result column="UPDATE_DATETIME" jdbcType="TIMESTAMP" property="updateDatetime" />
  </resultMap>
</mapper>