<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.restapi.dao.TbAppupdateMapper">
  <resultMap id="BaseResultMap" type="com.company.restapi.model.TbAppupdate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="latestVersion" jdbcType="INTEGER" property="latestversion" />
    <result column="apkUrl" jdbcType="VARCHAR" property="apkurl" />
    <result column="apkRemark" jdbcType="VARCHAR" property="apkremark" />
    <result column="isForceUpdate" jdbcType="BIT" property="isforceupdate" />
  </resultMap>
</mapper>