<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.restapi.dao.TbRemindMapper">
  <resultMap id="BaseResultMap" type="com.company.restapi.model.TbRemind">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="remind_id" jdbcType="INTEGER" property="remindId" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="warn_type" jdbcType="INTEGER" property="warnType" />
    <result column="water_warn_status" jdbcType="INTEGER" property="waterWarnStatus" />
    <result column="water_under" jdbcType="INTEGER" property="waterUnder" />
    <result column="under_temperature" jdbcType="VARCHAR" property="underTemperature" />
    <result column="under_times" jdbcType="VARCHAR" property="underTimes" />
    <result column="water_hight" jdbcType="INTEGER" property="waterHight" />
    <result column="hight_temperature" jdbcType="VARCHAR" property="hightTemperature" />
    <result column="hight_times" jdbcType="VARCHAR" property="hightTimes" />
  </resultMap>
</mapper>