<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.restapi.dao.TbUserShareMapper">
  <resultMap id="BaseResultMap" type="com.company.restapi.model.TbUserShare">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="share_id" jdbcType="INTEGER" property="shareId" />
    <result column="share_user_id" jdbcType="INTEGER" property="shareUserId" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="authority" jdbcType="INTEGER" property="authority" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="share_time" jdbcType="TIMESTAMP" property="shareTime" />
  </resultMap>
</mapper>