<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.restapi.dao.UserDeviceMapper">
  <resultMap id="BaseResultMap" type="com.company.restapi.model.UserDevice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="EQUIPMENT_ID" jdbcType="VARCHAR" property="equipmentId" />
    <result column="AUTHORITY" jdbcType="SMALLINT" property="authority" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
    <result column="SHARE_TIME" jdbcType="TIMESTAMP" property="shareTime" />
  </resultMap>
</mapper>